* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

:root {
  --textColor: #000000;
  --mainColor: #ffffff;
  --secondColor: #256ae5;
  --thirdColor: #e0201a;
  --borderColor: #c6c2c2;
}

.containerBanner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  border-bottom: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .containerBanner {
    display: block;
    border-bottom: none;
  }
  .displayItem:last-child {
    border-bottom: 1px solid var(--borderColor);
  }
}

.banner {
  padding-bottom: 20px;
  grid-column: span 2;
}

/* common heading  */
#heading,
#mstReadHeading,
#inBriefHeading {
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--thirdColor);
  color: var(--thirdColor);
  margin-top: 50px;
  font-size: 1.5rem;
}

#inBriefHeading {
  margin: 0;
}

#heading i {
  margin-left: 10px;
  font-size: 1.3rem;
}
.banner h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
}
.banner h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.image img {
  width: 90%;
  height: 70vh;
  object-fit: cover;
}
.image p {
  font-size: 0.7rem;
  padding: 8px;
}
.time {
  border-left: 2px solid var(--secondColor);
  margin: 5px 0;
  margin-bottom: 10px;
  padding: 8px 15px;
  font-size: 0.7rem;
  text-transform: capitalize;
}
.time i {
  margin-right: 5px;
}

.image {
  border: 1px solid var(--borderColor);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.banner button {
  padding: 2px 5px;
  text-transform: capitalize;
  border: 1px solid var(--secondColor);
  font-weight: 600;
  margin-top: 10px;
  background-color: transparent;
  transition: 0.4s ease-in-out;
}

.banner button:hover {
  background-color: var(--secondColor);
  color: var(--mainColor);
}

.displayItem:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}

.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 250px));
  align-items: start;
  justify-items: start;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  height: 550px;
  overflow-y: scroll;
}

.display::-webkit-scrollbar {
  width: 5px;
}

.display::-webkit-scrollbar-thumb {
  background-color: var(--secondColor);
}

.display::-webkit-scrollbar-thumb:hover {
  background-color: var(--thirdColor);
}

.display img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.details {
  padding: 10px;
}
.details p {
  font-size: 0.7rem;
}

.displayItem:hover h4 {
  text-decoration: underline;
}

.displaySingle h4 {
  cursor: pointer;
}

.displayItem p i {
  margin-right: 5px;
}

/* latest  */

.singleSecondDisplay {
  box-shadow: 1px 1px 2px var(--secondColor);
  border-radius: 2px;
}

.secondDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  background-color: #f4f3f3;
  padding: 40px 50px;
}

.secondDisplay a:active {
  color: var(--textColor);
}
.secondDisplay a {
  color: var(--textColor);
}

.secondDisplay img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.singleSecondDisplay .wrapper {
  width: 100%;
  padding: 10px;
}
.singleSecondDisplay {
  background-color: var(--mainColor);
}

.secondDisplay h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.secondDisplay h2 {
  font-size: 0.9rem;
}
.secondDisplay h2:hover {
  cursor: pointer;
  color: var(--thirdColor);
}

.secondDisplay p {
  font-size: 0.8rem;
  padding-left: 10px;
  color: var(--secondColor);
  border-left: 2px solid var(--secondColor);
}

/* most read  */
.mostRead {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  gap: 0 50px;
  justify-content: center;
}
.mostRead a {
  color: var(--textColor);
  border-bottom: 1px dotted var(--borderColor);
  padding: 20px 0;
}
.mostRead a:active {
  color: var(--textColor);
}
.mostReadComp {
  display: flex;
  column-gap: 5px;
  align-items: start;
}

.mostReadComp h2 {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}
.mostReadComp::before {
  content: "";
  background-color: var(--thirdColor);
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 6px;
  left: -5%;
}
.mostReadComp h2:hover {
  color: var(--thirdColor);
}

/* loading animation */
.loading {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 60vh;
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .banner {
    border-bottom: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    padding-bottom: 20px;
  }

  /* common heading  */
  #heading,
  #mstReadHeading,
  #inBriefHeading {
    padding-bottom: 3px;
    border-bottom: 2px solid var(--thirdColor);
    font-size: 1rem;
    margin-top: 30px;
  }

  #heading i {
    font-size: 0.9rem;
  }

  .banner h2 {
    font-size: 1.1rem;
  }
  .banner h3 {
    font-size: 0.9rem;
  }
  .banner p {
    font-size: 0.9rem;
    margin-right: 0;
  }

  .image img {
    height: 40vh;
  }
  .image p {
    font-size: 0.6rem;
    padding: 8px;
  }

  .banner button {
    padding: 2px 4px;
    font-size: 0.7rem;
  }

  .containerBanner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
  }

  .singleSecondDisplay {
    box-shadow: 0 1px 2px var(--secondColor);
    border-radius: 0;
  }

  .secondDisplay img {
    height: 30vh;
  }

  .secondDisplay {
    padding: 40px 20px;
    background-color: transparent;
  }

  .secondDisplay h1 {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .secondDisplay h2 {
    font-size: 0.8rem;
  }

  /* most read  */
  .mostRead {
    padding-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .mostReadComp {
    display: flex;
    column-gap: 10px;
    align-items: start;
    width: 70%;
  }

  .mostReadComp h1 {
    font-size: 2.5rem;
  }

  .mostReadComp h2 {
    font-size: 0.8rem;
  }
}
