@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1000px));
  padding: 20px;
  justify-content: center;
}

@media (max-width: 500px) {
  main {
    margin-top: 20px;
  }
}
